/* ========================== [START] Imports ========================== */
@import "/css/small/global.less";
/* ========================== [END] Imports ========================== */

div#page-container[zpickies-product=porkBurger] {
    .pork-burger-background;
}

div#page-container[zpickies-product=prawnBurger] {
    .prawn-burger-background;
}

div#page-container[zpickies-product=mushroomBurger] {
    .mushroom-burger-background;
}

div#page-container[zpickies-product=thaiSalad] {
    .thai-salad-background;
}

input[name=quantity] {
    float: none !important;
    margin: 0 auto !important;
    width: 4em !important;
    height: 2em !important;
    font-size: 2em !important;
}

.ui-slider-track {
    margin: 2% 5%;
}

.ui-slider {
    height: 100% !important;
}

#price {
    font-size: 2em;
    text-align: center;
}

div#product-image {
    text-align: center;
    img {
        width: 60%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 5% 0;
    }
}


